<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">   
    <title>Confirmacion</title>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>
    <div class="container">
        <h1>Gracias  por confirmar tu asistencia</h1>         
        <input type="text" id="name" placeholder="has confirmado tu asistencia" style="text-align: center; border:none; font-size: 40px;">
        <h1>Te esperamos!</h1>             
    </div>
    <div class="bubble-container"></div>    
    <script src="./js/confirmation.js"></script>
</body>
</html>
